* {
  box-sizing : border-box;
}
html,
body {
  margin : 0;
  padding : 0;
}

body {
  background-color: white;
}

#key-block {
  height: 100vh;
}

#root {
  font-family: sans-serif;
  font-size: 20px;
  border: solid purple 11px;
  padding: 0px;
  border-radius: 15px;
  position: relative;
  height : 100vh;
  width : 100vw;
}

#root:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 6px solid #BAAFC4;
}

#letters {
  font-size: 30px;
  text-align: center;
  border: solid #BAAFC4 9px;
  background-color: #f7efff;
  color: #4e3269;
  font-weight: bold;
  border-radius: 7px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#guess-list {
  border: solid #ebc38e 9px;
  border-radius: 7px;
  max-width: 400px;
}
.guess {
  font-size: 22px;
  padding: 14px 35px;
  background-color: #f1ddc1;
  border-bottom: solid #ebc38e 5px;
  color: #a07235;
  font-weight: bold;  
}

#round-stage {
  align-self: flex-end;
  padding: 20px;
  color: lightgray;
}


.flex-item {
  flex-grow : 1;
  width : 80vw;
  justify-content: center;
  align-self: center;
}

/* Debug container styles start * /
#letters {
  background-color:red;
}
#welcome {
  background-color: green;
}
#logo {
  background-color: yellow;
}
#guess-list {
  background-color: purple;
}
/* Debug container styles end */